$hl-color: #1f67fd;

// ============================================ dark
$dark-background-color: #38383a;
$dark-label-border-color: #444;

$dark-img-label-color: #b1b1b1;
$dark-label-color: #a2a2a2;
$dark-info-color: #8e8e8e;

// ============================================ light
$light-background-color: #eff2ea;
$light-label-border-color: #dedede;

$light-img-label-color: #696969;
$light-label-color: #8e8e8e;
$light-info-color: #999;
