@import "theme";

body.dark {
  #info {
    color: $dark-img-label-color;
    background-color: rgba($dark-background-color, 0.8);
  }
}

body.light {
  #info {
    color: $light-img-label-color;
    background-color: rgba($light-background-color, 0.8);
  }
}
