@import "compass";
@import "common";
@import "theme";

$progress-bar-height: 5px;
$panel-min-height: 80px;

#container {
  display: inline-flex; // `flex` doesn't grow over body width
  vertical-align: top; // to avoid margin of inline element
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
}

#bound-box {
  flex-shrink: 0;
  overflow: hidden;
  display: inline-block;
  vertical-align: top; // to avoid margin of inline element
  line-height: 0;
  position: relative; // for `overflow:hidden` with `img{position:absolute}`

  img {
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    margin: auto;

    &:not(.effect-disabled) {
      transition: transform 0.2s linear;
    }
  }
}

#panel {
  position: fixed;
  left: 0;
  width: 100%;
  min-height: $panel-min-height;

  &:not(.bottom) {
    top: 0;
    #bottom-button { background-color: red; }
    #panel-content { transform: translateY(-100%); }
  }

  &.bottom {
    bottom: 0;
    #bottom-button { background-color: blue; }
    white-space: nowrap;

    &::before { // emulate `min-height`
      content: "";
      vertical-align: bottom;
      display: inline-block;
      width: 0;
      height: $panel-min-height;
    }

    #panel-content {
      transform: translateY(100%);

      display: inline-block; // emulate `min-height`
      width: 100%;
      position: relative;
      padding-bottom: $progress-bar-height;
    }

    #progress-bar {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

#panel-content {
  transition: transform 0.08s linear;

  #panel:hover &,
  #panel.show-info & {
    transform: translateY(0);
  }
}

#progress-bar {
  height: $progress-bar-height;
  background-color: $hl-color;
}

#info {
  display: flex;
  align-items: flex-end;

  & > div {
    @include font-rem-by-px(12.8);
    white-space: nowrap;
    padding: 2px 2ch 2px 2px;
    &:last-of-type { padding-right: 2px; }
    cursor: default;
  }

  #label {
    flex-grow: 1;
    min-width: 5ch;
    padding: 2px;
    line-height: 1;
    @include font-rem-by-px(16);
    word-break: break-all;
    white-space: pre-wrap;
    // word-break: break-word; // doesn't work with `flex`?
  }

  #bottom-button {
    width: 1.28rem;
    height: 1.28rem;
    cursor: pointer;
  }
}
